    
form{
 font-size: 15px;
 background-image: linear-gradient(to left,black,aqua);   
max-width: 500px;
float:left;
margin-bottom: 200px;
}    

form label{
 margin: left 20px;
color:black;
font-weight: bold;
}    

h1{
color:black;
text-align: center;

}

input,textarea{
width: 200px;
padding: 10px;
color: black;
border-radius: 5px;
margin-left: 20PX;

}    

input:hover,textarea:houver{
border-color: blueviolet;
box-shadow: 5px 0px 100px goldenrod;
font-weight: bold;
}    

textarea{
width: 300PX;
height: 200PX;
line-height: 20PX;
margin-left: 20%;
}    

#submit{
margin-left: 20%;
}    

#submit:hover{
background-color: blue;
font-weight: bold;
color:antiquewhite

}    

#maps{
width: 400px;
height: 400px;
float: left;
margin-left: 20%;
}    